@charset "UTF-8";

/* A simple style sheet */

body {
        background-color:white;
    text-align: center;
}

#first {
  text-align: center;
  font-family: Helvetica;
  color: black;
  font-size:3.0em
}
#second {
		text-align:center;
		font-family: Helvetica;
		color:black;
        font-size: 1.5em;
        text-decoration: underline;
		}

.important {
				color:gray;
				font-family:Helvetica;
				font-size:1.0em;
				}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
