@charset "UTF-8";

/* A simple style sheet */

a{
  text-decoration: none;
}

a:hover{
  text-decoration: line-through;
}


#bluething{
  width:500px;
  height:650px;
  background-color: blue;
  margin:auto;
  transform:scale(0.5);
}


#book{
  width:400px;
  height:600px;
  background-color: orange;
  margin-left:100px;
  transform:translateY(60px);
}

#rectangle{
  width:100px;
  height:350px;
  background-color: khaki;
  margin-left: -130px;
  transform: rotate(25deg) translateY(300px);

}

#marker{
  width:40px;
  height:150px;
  background-color:red;
  margin-left:200px;
  transform: rotate(30deg) translateY(-80px);
  z-index:-1;
}

#container{
  width:300px;
  height:160px;
  background-color:grey;
  margin-left:400px;
  transform:translateY(20px) rotate(-25deg);


}
